@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap");

:root {
  --clr-white: hsla(0, 0%, 95%, 1);
  --clr-gray-700: hsla(0, 0%, 20%, 1);
  --clr-gray-600: hsla(0, 0%, 31%, 1);
  --clr-gray-400: hsla(0, 0%, 51%, 1);
  --clr-yellow: hsla(45, 86%, 77%, 1);
  --clr-black: hsl(0, 0%, 0%);

  --fs-700: 36px;
  --fs-500: 24px;
  --fs-400: 18px;
  --fs-300: 14px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  min-width: 375px;
}

body {
  margin: 0;
}

.home-section {
  display: grid;
  place-content: center;
  font-family: "Raleway", sans-serif;
  height: 100vh;
}

.quote-block {
  font-size: var(--fs-700);
  line-height: 43.2px;
  width: 100%;
  max-width: 721px;
  padding-left: 99px;
  margin: 0;
  margin-top: 140px;
  border-left: 8px solid var(--clr-yellow);
}

.author-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 29px;
  margin-left: 5rem;
  margin-top: 109px;
  transition: background-color 0.5s ease-in-out;
}

.author-block:is(:hover, :focus) {
  background-color: var(--clr-gray-700);
  cursor: pointer;
}

.author-block:is(:hover, :focus)
  :is(.author__name, .material-symbols-outlined) {
  color: var(--clr-white);
  opacity: 1;
}

.author-detail {
  display: grid;
  gap: 8px;
}

.author__name {
  font-size: var(--fs-500);
  font-weight: 700;
  color: var(--clr-gray-600);
  transition: color 0.5s ease-in-out;
}

.quote-genre {
  font-size: var(--fs-300);
  color: var(--clr-gray-400);
}

.author-block .material-symbols-outlined {
  font-size: 3rem;
  color: var(--clr-white);
  transition: opacity 0.5s ease-in-out 0.25s;
  opacity: 0;
}

button {
  position: absolute;
  top: 31px;
  right: 100px;
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: var(--fs-400);
  padding: 0.3rem 0.7rem;
  border: none;
  border-radius: 5px;
  color: var(--clr-gray-700);
  background-color: white;
  cursor: pointer;
}

button:focus {
  scale: 1.1;
}

.view-more-section {
  display: grid;
  place-items: center;
  margin-top: 100px;
}

.view-more-section h1 {
  font-size: var(--fs-700);
  width: 503px;
  color: var(--clr-gray-700);
}
